.grid_20
  %h1 Hi! My name is Ryan Closner, and I created Bookswapped.com
.grid_4
  = image_tag('http://1.gravatar.com/avatar/18ef6e2f36ce536eddfbc8b7412446c8?size=420', :width => '160')
%h2 Thanks for stopping by. Please enjoy our 5 main features:
#features
  %ol
    %li Getting mail is like christmas. Always. No matter what.
    %li Reading on paper doesn’t fry your eyeballs.
    %li There already exists enough shat in the world. Please, buy used.
    %li Saving money is always a good idea. Now you can save up for that robovac that you’ve always wanted!
    %li Don’t waste your time clicking through website after website. Let the Bookswapped machine work for you.


%h4 
  If you feel like it, stop by my personal website:
  = link_to 'ryanclosner.com', 'http://ryanclosner.com'
