%h1 Q.) What, even, is this?
%h2 A.) Bookswapped.com is a book/textbook price comparison website.

%h1 Q.) What's a book price comparison website?
%h2 A.) A price comparison service (also known as shopping comparison or price engine) allows individuals to see different lists of prices for specific products. Most price comparison services do not sell products themselves, but source prices from retailers from whom users can buy.

%h1 Q.) How do I use it?
%h2 A.) Search for a book, dummy.


%h4 
  More questions? Email me at
  = mail_to 'ryan@ryanclosner.com'
